@charset "UTF-8";



.header {
  padding: 10px;
  text-align: center;
  background: #3AAFA9;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  max-width: 520px;
  margin: 10px auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #2B7A78;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.inputField {
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	border-radius: 4px;
	background-color: #e8eeef;
	color:#828081;
	margin-bottom: 30px;
}

.field {
	display: block;
	color:#828081;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style {
	max-width: 500px;
	padding: 10px 20px;
	background: #EFEFEF;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
